<section class="contenedorCompleto">

    <div class="parteIzquierda">

        <h1>Datos Personales</h1>

        <div class="fotografia">
            <img src="../../../assets/Imagenes/TeofiloGarcia.jpg" alt="Teofilo Garcia" id="fotoImagen">

        </div>

        <label for="Rut" id="labelRut">26.538.853-1</label>

    </div>
    <div class="parteDerecha">
        
        <h3 class="tituloDatos">Nombres:</h3>
        <label for="Nombres" class="datos">Teofilo Marfran</label>
        <h3 class="tituloDatos">Apellidos:</h3>
        <label for="Apellidos" class="datos">Garcia Zambrano</label>
        <h3 class="tituloDatos">Fecha de Nacimiento:</h3>
        <label for="FechaNacimiento" class="datos">04 de Octubre de 1994</label>
        <h3 class="tituloDatos">Estudios:</h3>
        <label for="Estudios" class="datos">Tecnico Superior en Informática</label>

    </div>

    <div class="parteUltima">

        <div class="lenguajesProgramacion">
            <img src="../../../assets/Imagenes/HTML5.png" alt="Teofilo Garcia" id="imagenHTML" class="imagenesLenguajes">

        </div>
        <div class="lenguajesProgramacion">
            <img src="../../../assets/Imagenes/CSS3.png" alt="Teofilo Garcia" id="imagenCSS" class="imagenesLenguajes">

        </div>
        <div class="lenguajesProgramacion">
            <img src="../../../assets/Imagenes/JS.png" alt="Teofilo Garcia" id="imagenJS" class="imagenesLenguajes">
        </div>
        <div class="lenguajesProgramacion">
            <img src="../../../assets/Imagenes/java.jpg" alt="Teofilo Garcia" id="imagenJava" class="imagenesLenguajes">
            
        </div>


    </div>

</section>
