<nav class="navegador">
            
    <button id="Boton"><img src="../../../assets/Imagenes/Barras.png" alt="imagen"></button>
    
    <ul class="navegador__ul"> 
        <li class="navegador__ul-li-datosPersonales">
            <a href="Datos-personales" class="navegador__ul-li-a">Datos Personales</a>
        </li>
        <li class="navegador__ul-li-habilidades">
            <a href="Habilidades" class="navegador__ul-li-a">Habilidades</a>  
        </li>
        <li class="navegador__ul-li-proyectos">
            <link rel="icon" type="image/png" href="Imagenes/ProyectosIcono.png">
            <a href="Proyectos" class="navegador__ul-li-a">Proyectos</a>
        </li>
        <li class="navegador__ul-li-estudios">
            <a href="Estudios" class="navegador__ul-li-a">Estudios</a>
        </li>
        <li class="navegador__ul-li-contactame">
            <a href="Contacto" class="navegador__ul-li-a">Contacto</a>
        </li>

    </ul>
</nav>
