<section class="contenedorCompleto">

        

    <div class="div__Habilidades">

        <h2 class="h2__Habilidades">Habilidades</h2>
        
            <div class="divHabilidades">
                <label for="TrabajoEquipo" class="Habilidades__Label">Trabajo en equipo</label>
                <progress id="file" max="100" value="100" class="Progress"></progress>

                <label for="PorcentajeTrabEquipo" class="PorcentajesLabel">100%</label>
            </div>
            <div class="divHabilidades">
                <label for="AdaptacionCambio" class="Habilidades__Label">Adaptación al cambio</label>
                <progress id="file" max="100" value="100" class="Progress"></progress>
                <label for="PorcentajeAdapCambio" class="PorcentajesLabel">100%</label>
            </div>
            <div class="divHabilidades">
                <label for="ComunicacionAcertiva" class="Habilidades__Label">Comunicación Acertiva</label>
                <progress id="file" max="100" value="100" class="Progress"></progress>
                <label for="PorcentajeComunAcertiva" class="PorcentajesLabel">100%</label>
            </div>
            <div class="divHabilidades">
                <label for="Ingles" class="Habilidades__Label">Inglés</label>
                <progress id="file" max="100" value="40" class="Progress"></progress>
                <label for="PorcentajeIngles" class="PorcentajesLabel">40%</label>
            </div>
        
    </div>

    <div class="div__Experiencia">

        <h2 class="h2__Experiencia">Experiencia</h2>

        <div class="ExperienciaDiv">
            <label for="HTML" class="Experiencia__Label">HTML</label>
            <progress id="file" max="100" value="90" title="Exp. HTML" class="Progress"></progress> 
            <label for="PorcentajeHTML" class="LabelPorcentajeExp">90%</label>
        </div>
        <div class="ExperienciaDiv">
            <label for="CSS" class="Experiencia__Label">CSS</label>
            <progress id="file" max="100" value="80" title="Exp.CSS" class="Progress"></progress>
            <label for="PorcentajeCSS" class="LabelPorcentajeExp">80%</label>
        </div>
        <div class="ExperienciaDiv">
            <label for="JavaScript" class="Experiencia__Label">JavaScript</label>
            <progress id="file" max="100" value="60" class="Progress"></progress>
            <label for="PorcentajeJavaScript" class="LabelPorcentajeExp">60%</label>
        </div>
        <div class="ExperienciaDiv">
            <label for="Java" class="Experiencia__Label">Java</label>
            <progress id="file" max="100" value="50" class="Progress"></progress>
            <label for="PorcentajeJava" class="LabelPorcentajeExp">50%</label>
        </div>

        <div class="ExperienciaDiv">
            <label for="Angular" class="Experiencia__Label">Angular</label>
            <progress id="file" max="100" value="50" class="Progress"></progress>
            <label for="PorcentajeAngular" class="LabelPorcentajeExp">50%</label>
        </div>

    </div>

</section>